# Page d’accueil
DirectoryIndex index.php

# Activation de la réécriture d’URL
RewriteEngine On

# Si le fichier ou dossier demandé n'existe pas, on redirige vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]

# Interdire l’accès direct aux fichiers sensibles
<Files "metadonnees.json">
    Require all denied
</Files>
